* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #000000, #550000, #000000);
    color: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #cccccc;
    text-align: center;
}

.small {
    font-size: 1.5rem;
    color: #8b8b8b;
}

.red {
    color:#ffffff;
    -webkit-text-stroke: 0.05rem #c00000;
}